<h1>Current recipe information:</h1><br>
<h5>Name: <%=@recipe.name%></h5><br>
<h5>Ingredients: <%=@recipe.ingredients%></h5><br>
<h5>Cook Time: <%=@recipe.cook_time%></h5><br>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="#{@recipe.name}">
  <input type="text" name="ingredients" value="#{@recipe.ingredients}">
  <input type="text" name="cook_time" value="#{@recipe.cook_time}">
  <input type="submit" value="submit">
</form>
